{% extends "base.html.twig" %}

{% block body %}
<h1>
{% if editMode %}
    Editer l'article
{% else %}
    Création d'un article
{% endif %}
</h1>

{{ form_start(formArticle) }}

{{ form_widget(formArticle)}}
<button type="submit" class="btn btn-success">
{% if editMode %}
    Enregistrer
{% else %}
    Ajouter l'article
{% endif %}
</button>

{{ form_end(formArticle) }}



{% endblock %}